{% extends 'base.html.twig' %}

{% block title %}Formulaire d'un module {% endblock %}

{% block body %}
    <style>
        .homeNav, .sesionNav, .internNav, .categoryNav{color : black;}
    </style>
    {% if edit %}
        <h3>Modifer un module dans {{category }}</h3>
    {% else %}
        <h3>Ajouter un module dans {{category }}</h3>
    {% endif %}
    
    {{ form(formCourse) }}    

{% endblock %}
