{% extends 'base.html.twig' %}

{% block title %}Formulaire d'une catégorie{% endblock %}

{% block body %}
    <style>
        .homeNav, .sesionNav, .internNav, .categoryNav{color : black;}
    </style>
    {% if edit %}
        <h3>Modifer une catégorie</h3>
    {% else %}
        <h3>Ajouter une catégorie</h3>
    {% endif %}
    
    {{ form(formCategory) }}    

{% endblock %}
