{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionsNav, .stagiairesNav, .modulesNav{color : black;}
        .cateogriesNav{color: #006eff;}
    </style>

    <button>Créer une catégorie</button>
{% endblock %}
