{% extends 'base.html.twig' %}

{% block title %}Hello SessionsController!{% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .internNav, .categoryNav{color : black;}
        .sesionNav{color: #006eff;}
    </style>

    <button>Créer une session</button>
{% endblock %}
