{% extends 'base.html.twig' %}

{% block title %}Formulaire d'un module {% endblock %}

{% block body %}
    <style>
        .homeNav, .sesionNav, .internNav, .categoryNav{color : black;}
    </style>
    
    <h3>Module de {{course.nameCourse}}</h3>
        {{form(formProgram)}}
{% endblock %}