* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* pour les boutons / liens clicable ils sont en noir et passe en vert quand on va dessus*/
.black{
    text-decoration: none;
    color: black;
}
.black:hover{
    color: green ;
}
body {
    width: 100%;
     
    .error{
        color: red;
        font-size: xx-large;
    }
}