{% extends 'base.html.twig' %}

{% block title %}Hello ModulesController!{% endblock %}

{% block body %}
    {# Pour changer la couleur de la navbar et montrer sur quel page je suis #}
    <style>
        .homeNav, .sesionsNav, .stagiairesNav, .cateogriesNav{color : black;}
        .modulesNav{color: #006eff;}
    </style>

    <button>Créer un module</button>

{% endblock %}
